	.title{width:960px;height:35px;background-color:gray;margin-bottom:20px;font-size:20px;font-weight:bold;}
	html{color:#000;padding:20px 0;font: 12px/18px "맑은 고딕", "Malgun Gothic";background-color:#26ffff;}


	

	.comment{width:100px;height:35px;background-color:#1E90FF;float:left;margin-right:3px;text-align:center;font-weight:bold;font-size:20px;margin-left:35px;padding-top:7px;margin-top:5px;}/*서평보기타이틀*/
	.comment_in{width:800px;background-color:white;float:left;height:50px;border:solid;}/*서평틀*/
	.tab {border-collapse:collapse;border-spacing:0;}

	td {border:1px solid #444;font: "맑은 고딕";padding:5px;width:100px;height:100px;font-size:15px;}
	th {border:1px solid #444;font: 12px/18px "맑은 고딕", "Malgun Gothic";padding:5px;width:100px;height:70px;background-color:#1E90FF;font-size:20px;}

	.text{float:left;width:400px;height:35px;background-color:white;;margin-left:20px;}
	.img{width:150px;}/*이미지크기*/



	.butt{width:70px;height:38px;float:left;background-color:#1E90FF;margin-left:5px;margin-top:3px;}/*버튼*/
	.butt3{width:70px;height:38px;float:left;background-color:#1E90FF;margin-left:5px;margin-top:3px;}/*버튼*/
	.sub_size{width:600px;height:40px;float:left;}

	.warp{width:960px;height:800px;background-color:white;margin:0 0 auto;border:solid;}/*전체 테이블 틀 */










#rebox{
	padding-left: 250px;
	padding-top: 5px;
	margin-bottom:30px;
}

.typetext{
	border:2px solid;
	padding: 5px 2px 0px 3px;
    	width: 400px;
    	height:20px;
    float: left;


}
img{
	float:left; height: 25px;
}

