body{background-color:#26ffff;font-weight:bold;width:960px;}
#warp{width:900px;height:920px;background-color:white; margin-left:50px;border-style:solid;}
#title1{width:700px;height:80px;background-color:white;font-size:30px;font-weight:bold;margin:10px;padding-top:20px;padding-left:50px;margin-left:40px;}
#title2{width:710px;background-color:white;height:180px;margin-left:100px;margin-top:10px;
margin-bottom:20px;border-style:solid;}

#tablebox{width:720px;background-color:white;height:500px;margin-left:100px;}
table{width:720px;border-color:black;border-width:3px;}
#td1{width:55px;height:150px;}
#td2{width:200px;height:100px;}
#td3{width:55px;height:150px;}
#td4{width:200px;height:100px;}
#td5{width:55px;height:150px;}
#td6{width:200px;height:100px;}
th{background-color:#1E90FF;font-size:20px;height:50px;}
#layer1{font-size:40px;z-index:2;margin-left:20px;position:absolute;margin-top:10px;
	color:blue;font-family:"±√º≠";}
#layer2{font-size:40px;z-index:1;margin-left:22px;position:absolute;margin-top:12px;
font-family:"±√º≠";color:red;}
.button{
		font-weight:bold;
		font-size:20px;
		float:left;margin-right:10px;
		font-family:"πŸ≈¡ ";
		font-weight:bold;
		text-decoration:none;
		position:relative;
		width:300px;
		height:30px;
		text-align:center;
		vertical-align:middle;
		border:2px solid #ccc;
		padding-top:10px;
		overflow:hidden;
		background-color:#4f93ca;
		color:black;
		margin-top:30px;
		margin-left:30px;
		-moz-border-radius:30px;
		-webkit-border-radius:30px;
		border-radius:30px;
		text-shadow:rgba(10,10,10,0,5)1px 2px 2px;

		background-color:rgba(60,132,198,0.8);
		background-image:-wibit-gradient(linear,0%0%,0%,90%,from(rgba(28,91,155,0,8)),
			to(rgba(108,191,255,0.9)));

		border-top-color:#8ba2c1;
		border-right-color:#5890bf;
		border-bottom-color:#4f93ca;
		border-left-color:#768fa5;
		text-decoration:none;

}

.light{
	position:absolute;
	top:0;
	left:9px;
	height:35px;
	width:280px;
	background-color:rgba(255,255,255,0.1);
	text-decoration:none;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	background-image:-webkit-gradient(linear,0%0%,0% 80%,
		from(rgba(255,255,255,0.7)),
		to(rgba(255,255,255,0)));

}
.button:hover{
	font-weight:bold;
	
color:blue;	
text-shadow:rgba(255,255,255,1)0px 0px 5px
	top:1px;
	font-family:"±√º≠";
		background:#8ba2c1;
		text-decoration:none;
}
#but{background-color:white;width:700px;height:180px;}

a{text-decoration:none;}
a:link,a:visited{
	color:black;

}
a:hover,a:active{
	color:blue;
}