select{width:100px;font-weight:bold;}

#select1{width:70px;}
#select2{width:70px;}
#wrap {
	width:960px; margin:0 auto; background-color:#fff;
}
#form{width:930px;height:600px;	margin-top:70px; }
#box{width:800px;height:300px;background-color:white;border;margin-left:30px;padding:50px;border-style:ridge;border-width:8px;}
#search{float:right;width:230px;border-style:ridge;border-width: 7px;background-color:#1E90FF;font-weight:bold;height:20px;text-decoration:none;margin-bottom:5px;}
#chekm{width:760px;background-color:white;margin-top:20px;}
#number{width:730px;background-color:white;margin-top:20px;}
#butt{width:300px;background-color:white;margin-top:40px;margin-left:250px;}
#title{font-weight:bold;font-size:30px;margin-left:30px;padding-top:10px;width:200px;}

table{width:800px;}
ul{margin:0;padding:0;}
ul> li{float:left;list-style-type:none;padding:1px;}
ul>li>a{ text-decoration:none;color:black;}
a:visited,a:link{color:black;}
.chek{margin-left:15px;}


.button{
		float:left;margin-right:10px;
		font-family:"πŸ≈¡ ";
		font-weight:bold;
		text-decoration:none;
		position:relative;
		width:100px;
		height:20px;
		text-align:center;
		vertical-align:middle;
		border:2px solid #ccc;
		padding-top:2px;
		overflow:hidden;
		background-color:#4f93ca;
		color:black;

		-moz-border-radius:30px;
		-webkit-border-radius:30px;
		border-radius:30px;
		text-shadow:rgba(10,10,10,0,5)1px 2px 2px;

		background-color:rgba(60,132,198,0.8);
		background-image:-wibit-gradient(linear,0%0%,0%,90%,from(rgba(28,91,155,0,8)),
			to(rgba(108,191,255,0.9)));

		border-top-color:#8ba2c1;
		border-right-color:#5890bf;
		border-bottom-color:#4f93ca;
		border-left-color:#768fa5;

}

.light{
	position:absolute;
	top:0;
	left:9px;
	height:30px;
	width:180px;
	background-color:rgba(255,255,255,0.1);

	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	background-image:-webkit-gradient(linear,0%0%,0% 80%,
		from(rgba(255,255,255,0.7)),
		to(rgba(255,255,255,0)));

}
.button:hover{
	font-weight:bold;
	color:blue;
	text-shadow:rgba(255,255,255,1)0px 0px 5px
	top:1px;
	
		background:#8ba2c1;
		text-decoration:none;
}
#but{background-color:white;width:300px;height:30px;}