
table{width:800px;}
#wrap {
	width:960px; margin:0 auto; background-color:#fff;
}
.title{height:50px;width:100px;font-size:25px;font-weight:bold;background-color:gainsboro;text-align:center;}
.t{width:100px;height:70px;float:left;font-size:25px;margin-bottom:30px;
text-align:center;font-weight:bold;}

.submit{width:100px;height:30px;}
#box{margin-top:100px;}