


#wrap
{
	width:960px; margin:0 auto;  

}
#title{width:300px;height:40px;font-size:20px;font-weight:bold;}
.size{width:960px;}
th{width:5px;font-size:20px;font-weight:bold;text-align:center;}
td{width:115px;font-weight:bold;}
.but{width:100px;height:30px;float:right;}

