.button {
 
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  padding: 1em 1.5em;
  background-color: #e0e0e0;
  color: #232323;
  font: 14px/1 Verdana, Arial, Sans-Serief;
  vertical-align: middle;
  text-align: center;
  text-shadow: 1px 1px #f2f2f2;
  -webkit-box-shadow: inset 0px 0px 3px #ffffff;
  -moz-box-shadow: inset 0px 0px 3px #ffffff;
  box-shadow: inset 0px 0px 3px #ffffff;
  background-color: #e5e5e5;
  background-image: none, none, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cecece));
  background-image: none, none, -moz-linear-gradient(#ffffff, #cecece);
  background-image: none, none, -webkit-linear-gradient(#ffffff, #cecece);
  background-image: none, none, -o-linear-gradient(#ffffff, #cecece);
  background-image: none, none, -ms-linear-gradient(#ffffff, #cecece);
  background-image: none, none, linear-gradient(#ffffff, #cecece);
  -pie-background: linear-gradient(#ffffff, #cecece);
}
.button:hover, .button:focus {
  outline: 0;
  background-color: #eeeeee;
  background-image: none, none, -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0));
  background-image: none, none, -moz-linear-gradient(#ffffff, #c0c0c0);
  background-image: none, none, -webkit-linear-gradient(#ffffff, #c0c0c0);
  background-image: none, none, -o-linear-gradient(#ffffff, #c0c0c0);
  background-image: none, none, -ms-linear-gradient(#ffffff, #c0c0c0);
  background-image: none, none, linear-gradient(#ffffff, #c0c0c0);
  -pie-background: linear-gradient(#ffffff, #c0c0c0);
}
.button:active {
  top: 2px;
}
.button.ko {
  font-family: '나눔 고딕', 'Nanum Gothic', '돋움', 'Dotum', Sans-Serief;
}

.button.small {
  font-size: 12px;
}
.button.big {
  font-size: 18px;
}

.button.round {
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.button.rounder {
  -webkit-border-radius: 15px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.button.roundest {
  -webkit-border-radius: 30px;
  -khtml-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.button.ani {
  background-image: url(../images/button_bg.png);
  background-repeat: no-repeat;
  background-position: left bottom, right top, 0 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  background-color: #eeeeee;
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c0c0c0));
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -moz-linear-gradient(#ffffff, #c0c0c0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-linear-gradient(#ffffff, #c0c0c0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -o-linear-gradient(#ffffff, #c0c0c0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -ms-linear-gradient(#ffffff, #c0c0c0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), linear-gradient(#ffffff, #c0c0c0);
}
.button.ani:hover, .button.ani:focus {
  background-position: right top, left bottom, 0 0;
  background-color: #eeeeee;
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#b0b0b0));
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -moz-linear-gradient(#ffffff, #b0b0b0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-linear-gradient(#ffffff, #b0b0b0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -o-linear-gradient(#ffffff, #b0b0b0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -ms-linear-gradient(#ffffff, #b0b0b0);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), linear-gradient(#ffffff, #b0b0b0);
}

.button.blue {
  border: 1px solid #3665ac;
  color: #121212 !important;
  background-color: #4fa7ff;
  background-image: none, none, -webkit-gradient(linear, left top, left bottom, from(#4fa7ff), to(#0549a8));
  background-image: none, none, -moz-linear-gradient(#4fa7ff, #0549a8);
  background-image: none, none, -webkit-linear-gradient(#4fa7ff, #0549a8);
  background-image: none, none, -o-linear-gradient(#4fa7ff, #0549a8);
  background-image: none, none, -ms-linear-gradient(#4fa7ff, #0549a8);
  background-image: none, none, linear-gradient(#4fa7ff, #0549a8);
  -pie-background: linear-gradient(#4fa7ff, #0549a8);
}
.button.blue:hover, .button.blue:focus {
  background-color: #4fa7ff;
  background-image: none, none, -webkit-gradient(linear, left top, left bottom, from(#065fda), to(#065fda));
  background-image: none, none, -moz-linear-gradient(#82c0ff, #065fda);
  background-image: none, none, -webkit-linear-gradient(#82c0ff, #065fda);
  background-image: none, none, -o-linear-gradient(#82c0ff, #065fda);
  background-image: none, none, -ms-linear-gradient(#82c0ff, #065fda);
  background-image: none, none, linear-gradient(#82c0ff, #065fda);
  -pie-background: linear-gradient(#82c0ff, #065fda);
}
.button.blue.ani {
  background-color: #4fa7ff;
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-gradient(linear, left top, left bottom, from(#4fa7ff), to(#0549a8));
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -moz-linear-gradient(#4fa7ff, #0549a8);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-linear-gradient(#4fa7ff, #0549a8);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -o-linear-gradient(#4fa7ff, #0549a8);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -ms-linear-gradient(#4fa7ff, #0549a8);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), linear-gradient(#4fa7ff, #0549a8);
}
.button.blue.ani:hover, .button.blue.ani:focus {
  background-color: #4fa7ff;
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-gradient(linear, left top, left bottom, from(#82c0ff), to(#065fda));
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -moz-linear-gradient(#82c0ff, #065fda);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -webkit-linear-gradient(#82c0ff, #065fda);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -o-linear-gradient(#82c0ff, #065fda);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), -ms-linear-gradient(#82c0ff, #065fda);
  background-image: url(../images/button_bg.png), url(../images/button_bg.png), linear-gradient(#82c0ff, #065fda);
}
