#wrap {
	width:960px; margin:0 auto; 
}
th{width:500px;height:10px;background-color:gray;font-size:15px;font-weight:bold;text-align:center;}
td{width:500px;height:10px;background-color:white;}
table{width:500px;height:100px;margin:0 auto;margin-top:150px;border:solid;font-size:15px;}

