html{background-color:white;}

#wrap {
	width:960px; margin:0 auto; background-color:white;
}
.title{width:500px;height:20px;background-color:gray;font-size:20px;font-weight:bold;text-align:center;}
td{width:400px;height:10px;font-size:15px;}

table{width:600px;margin:0 auto;border:solid;font-size:20px;margin-top:100px;background-color:white;}

.box{width:150px;}

