

.path1{width:800px;}

.path{widht:700px;margin-top:30px;}
table{width:800px;border:solid;}
th{width:100px;height:20px;border:solid;background-color:gray;text-align:center;font-weight:bold;font-size:15px;}
td{width:100px;height:20px;text-align:center;border:solid;background-color:white;}
#wrap {
	width:960px;margin:0 auto;}

.title{width:800px;height:50px;font-size:30px;font-weight:bold;text-align:center;margin-top:10px;}

button{width:80px;}
