@charset "utf-8";

/* reset.css - 브라우저 스타일 초기화, 2012 ⓒ yamoo9.com	
---------------------------------------------------------------- */

/* 모든 요소 공간 0, 서체 크기 100%, 세로정렬 baseline, 배경색 투명 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	outline: 0;
	border: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

/* HTML5 새 요소 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

/* 본문 기본 설정, 리스트 블릿 제거, 인용 구문 제거 */
body { 
	font: 13px/1.5 "나눔 고딕", "Nanum Gothic", 돋움, Dotum, Sans-Serief; 
	color: #323232; 
	}
	/* 영문 설정 */
	.lang-en, :lang(en) { font: 12px/1.5 "Helvetica Neue", Helvetica, Verdana, Arial, Sans-Serief; }
	
/* 목록 및 인용 */
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* hr 제거 */
hr { display: none; }

/* 제목 글꼴 크기 설정 */
h1, h2, h3, h4, h5, h6 { 
	font-weight: normal; 
	color: #111; 
	}
	h1 { 
		font-size: 36px; 
		line-height: 1; 
		margin-bottom: 0.5em; 
	}
	h2 { 
		font-size: 24px; 
		margin-bottom: 0.75em;
	}
	h3 { 
		font-size: 18px; 
		line-height: 1; 
		margin-bottom: 1em;
	}
	h4 { font-size: 14px; }
	h5 { margin-bottom: 1.5em; }
	h5, h6 { font-weight: bold; }
	
	h1 img, h2 img, h3 img,
	h4 img, h5 img, h6 img { margin: 0; }

/* 제목, 단락 상.하 공간 설정 */
p { margin: 0 0 1.5em; }

/* :active, :focus 가상클래스 아웃라인 설정 제거 */
:active, :focus { outline: 0; }

/* 하이퍼링크 기본 스타일 재정의 */
a:link, a:visited { 
	padding-bottom: .25px; 
	text-decoration: none;
	color: #7c7c7c;
}
a:hover, a:active {
	border-bottom-style: solid; 
	color: #424242;
}

/* img를 포함한 a요소의 보더, 패딩 초기화 설정 */
a img {
	
	border: 0; 
	padding: 0;
}

/* insert, delete */
ins { text-decoration: none; }
del { text-decoration: line-through; }

#wrap{width:960px;margin:0 auto;border-style:solid;}
#title1{width:960px;height:80px;font-size:30px;font-weight:bold;padding-top:20px;margin-left:70px;margin-top:30px;}
#title2{width:710px;background-color:white;height:180px;margin-left:100px;margin-top:10px;
margin-bottom:20px;border:solid;}

#tablebox{width:720px;background-color:white;margin-left:100px;}
table{width:720px;border-color:black;border-width:3px;}
.td1{width:80px;height:150px;border:solid;}

.td2{width:250px;height:150px;border:solid;}
th{background-color:#1E90FF;font-size:20px;height:50px;font-weight:bold;text-align:right;border:solid;padding-top:10px;padding-right:10px;}
#layer1{font-size:40px;z-index:2;margin-left:20px;position:absolute;margin-top:10px;
	color:blue;font-family:"궁서";}
#layer2{font-size:40px;z-index:1;margin-left:22px;position:absolute;margin-top:12px;
font-family:"궁서";color:red;}
.button{
		font-weight:bold;
		font-size:20px;
		float:left;margin-right:10px;
		font-family:"바탕 ";
		font-weight:bold;
		text-decoration:none;
		position:relative;
		width:300px;
		height:30px;
		text-align:center;
		vertical-align:middle;
		border:2px solid #ccc;
		padding-top:10px;
		overflow:hidden;
		background-color:#4f93ca;
		color:black;
		margin-top:30px;
		margin-left:30px;
		-moz-border-radius:30px;
		-webkit-border-radius:30px;
		border-radius:30px;
		text-shadow:rgba(10,10,10,0,5)1px 2px 2px;

		background-color:rgba(60,132,198,0.8);
		background-image:-wibit-gradient(linear,0%0%,0%,90%,from(rgba(28,91,155,0,8)),
			to(rgba(108,191,255,0.9)));

		border-top-color:#8ba2c1;
		border-right-color:#5890bf;
		border-bottom-color:#4f93ca;
		border-left-color:#768fa5;
		text-decoration:none;

}

.light{
	position:absolute;
	top:0;
	left:9px;
	height:35px;
	width:280px;
	background-color:rgba(255,255,255,0.1);
	text-decoration:none;
	-webkit-border-radius:30px;
	-moz-border-radius:30px;
	background-image:-webkit-gradient(linear,0%0%,0% 80%,
		from(rgba(255,255,255,0.7)),
		to(rgba(255,255,255,0)));

}
.button:hover{
	font-weight:bold;


color:blue;
	text-shadow:rgba(255,255,255,1)0px 0px 5px
	top:1px;
	font-family:"궁서";
		background:#8ba2c1;
		text-decoration:none;
}
caption { 
	visibility: hidden; 
	height: 1px;
}
#but{background-color:white;width:700px;height:180px;}
a{text-decoration:none;}
a:link,a:visited{
	color:black;

}
a:hover,a:active{
	color:blue;
}
