@CHARSET "UTF-8";
#user, #admin{
	width:900px;
	margin:5px auto;
	padding:2.5em;
	background:#fff;
	box-shadow : 0px 0px 2px #62615f inset; /*박스에 그림자를 안쪽 방향으로 설정*/
		-webkit-box-shadow:0px 0px 2px #62615f insert;
		-moz-box-shadow:0px 0px 2px #62615f insert;
	border-radius:20px; /*둥근 테두리를 20px로 설정*/
		-webkit-border-radius:20px;
		-khtml-border-radius:20px;
		-moz-border-radius:20px;
}

#usernav, #adminnav{
	padding:1px;
}

#usernav li, #adminnav li{
	float:left;
	border-right:1px solid #eee;
}

#usernav li:last, #adminnav li:last{
	border:0;
}

#usernav li a, #adminnav li a{
	border:0;
	padding:10px;
	font:14px/1 Verdana;
	color:#a49e96;
}

/*hover : 마우스를 올려놓았을때. focus : 선택된상태일때 */
.no-js #usernav li a:hover,/*.no-js는 스크립트를 지원하지 않는 웹브라우저는 그냥 넘어가게끔 처리*/
.no-js #usernav li a:focus,
.no-js #usernav li.focus a,
.usermove,
.no-js #adminnav li a:hover,
.no-js #adminnav la a:focus,
.no-js #adminnav li.focus a,
.adminmove{
	/* 둥근테두리 */
		-webkit-border-radius:6px;
		-khtml-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		
	/* CSS3그레이디언트효과적용 */	
	
		background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#B2CCFF));
		background-image: -webkit-linear-gradient(-90deg, white, #B2CCFF);
		background-image: -moz-linear-gradient(-90deg, white, #B2CCFF);
		background-image: -o-linear-gradient(-90deg, white, #B2CCFF);
		background-image: -ms-linear-gradient(-90deg, white, #B2CCFF);	
	background-image: linear-gradient(-90deg, white, #B2CCFF);	
	/*explor전용*/
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#B2CCFF',GradientType=0 );
		
	/*바깥쪽 그림자 설정*/
	box-shadow:0px 0px 2px #69635a;
		-webkit-box-shadow:0px 0px 2px #69635a;
		-moz-box-shadow:0px 0px 2px #69635a;
}